<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SupplySage{% endblock %}</title>
</head>
<body>
    <header>
        <h1>SupplySage</h1>
        <nav>
            <a href="{% url 'item_list' %}">Home</a>
            <a href="{% url 'item_create' %}">Create New Item</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        <!-- Child templates provide main body content here -->
        {% endblock content %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 SupplySage</p>
    </footer>
</body>
</html>
