{% extends 'base.html' %}

{% block title %}
    Item Form
{% endblock title %}

{% block content %}
<!-- Create New Item Form -->
<h2>{{ item.name|default:"Add New Item" }}</h2>
<form method="post" class="needs-validation" novalidate style="max-width: 500px;">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-4">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-danger small">{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
    <button type="button" class="btn btn-danger" onclick="window.history.back();">Cancel</button>
</form>
{% endblock content %}
